In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_table('../../transaction',delimiter=',',header=None)

In [4]:
df.columns = ['sku', 'store', 'register', 'trannum', 'date']

In [5]:
df_analysis = df[df['date'] < '2004-09-01']

In [17]:
df_analysis.head(5)

        sku  store  register  trannum       date
33  7348931   3204        20      300 2004-08-15
49  7348931   3204       180     2100 2004-08-14
50  7348931   3204       180     2100 2004-08-14
51  7348931   3204       180     2100 2004-08-14
79  7348931   3204       180     8900 2004-08-25

In [20]:
df_analysis = df_analysis.reset_index()

In [21]:
df_analysis['date'] = pd.to_datetime(df_analysis['date'])

In [22]:
min_date = df_analysis['date'].min()

In [23]:
df_analysis['date'] = (df_analysis['date'] - min_date).dt.days

In [25]:
df_analysis['trans_id'] = df_analysis[['store','register','trannum','date']].sum(axis=1)

In [26]:
df_analysis.head(5)

   index      sku  store  register  trannum  date  trans_id
0     33  7348931   3204        20      300    14      3538
1     49  7348931   3204       180     2100    13      5497
2     50  7348931   3204       180     2100    13      5497
3     51  7348931   3204       180     2100    13      5497
4     79  7348931   3204       180     8900    24     12308

In [27]:
baskets = df_analysis.groupby('trans_id')['sku'].apply(list)

In [34]:
baskets.head(5)

trans_id
211    [5116098]
234    [9202949]
244    [9708505]
245    [1211541]
248    [9124803]
Name: sku, dtype: object

In [35]:
baskets = baskets.values.tolist()

In [31]:
import fpgrowth

In [41]:
itemsets = dict(fpgrowth.frequent_itemsets(baskets, 800))

In [42]:
results = list(fpgrowth.association_rules(itemsets, .4))

In [43]:
results_pd = pd.DataFrame(results, columns = ["L", "R", "Sup", "Confidence"])

In [44]:
results_pd.to_csv('results_800_0.4.csv', header = True)

In [45]:
results_pd.head(5)

,L,R,Sup,Confidence
0,"(6318344, 4108011, 2698353, 3524026, 2783996, ...",(3978011),947,0.808711
1,"(6318344, 4108011, 3524026, 2783996, 5528349)","(2698353, 3978011)",947,0.513557
2,"(6318344, 4108011, 2698353, 2783996, 5528349)","(3524026, 3978011)",947,0.666432
3,"(6318344, 4108011, 2783996, 5528349)","(2698353, 3524026, 3978011)",947,0.413899
4,"(6318344, 2698353, 4108011, 5528349)","(3524026, 3978011, 2783996)",947,0.469277

In [52]:
results_pd['Sup'] = (results_pd['Sup'] - results_pd['Sup'].mean())/results_pd['Sup'].std()

In [54]:
results_pd['Confidence'] = (results_pd['Confidence'] - results_pd['Confidence'].mean())/results_pd['Confidence'].std()

In [56]:
results_pd['Analysis'] = results_pd['Sup'] + results_pd['Confidence']

In [59]:
results_pd = results_pd.sort_values('Analysis', ascending=False)

In [87]:
temp = list(results_pd.head(8000)['L'])

In [88]:
temp = [list(x) for x in temp]

In [89]:
temp = [item for sublist in temp for item in sublist]

In [90]:
temp = list(set(temp))

In [91]:
len(temp)

100

In [92]:
temp

[3582465,
 3844099,
 3013129,
 3968011,
 264715,
 9594893,
 4928011,
 9297426,
 6328344,
 8718362,
 173088,
 4296738,
 3864099,
 3988011,
 1310252,
 3346996,
 5509179,
 3053129,
 4008011,
 803921,
 4498011,
 2072671,
 7808101,
 9526376,
 7351914,
 2698353,
 4072567,
 7382655,
 3559555,
 3161221,
 1658506,
 8618636,
 3898011,
 4218011,
 3690654,
 776350,
 4008113,
 2726578,
 3868338,
 5778109,
 726718,
 4976322,
 39633,
 9357022,
 6420710,
 9073382,
 3611367,
 4108011,
 2288366,
 6618353,
 4112626,
 6126322,
 2783996,
 5079809,
 3631365,
 6318344,
 7313673,
 3854099,
 7967000,
 3978011,
 5528349,
 7064350,
 5036322,
 3874099,
 3998011,
 8791356,
 9402188,
 348498,
 3894099,
 4440924,
 1832285,
 2688353,
 9667426,
 3968356,
 4062567,
 7261032,
 3589483,
 4138348,
 2708353,
 4208011,
 5108107,
 2716578,
 3908011,
 8798636,
 9288109,
 2366897,
 9987000,
 3524026,
 2258366,
 5957568,
 29633,
 2386897,
 2571221,
 9708505,
 4992993,
 3949538,
 5978084,
 9277426,
 2784759,
 6458364]